html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif;
  font-size: calc(14px + 0.5vmin);
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #500076;
}

#header {
  padding: 1em;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
}

#header h1 {
  font-weight: 600;
  margin: 0 auto;
}

#header a {
  color: white;
  text-decoration: none;
}

#content {
  padding: 2em 1em 1em;
  flex-grow: 1;
}

#footer {
  padding: 1em;
  border-bottom: 1em solid #500076;
}
#footer p {
  max-width: 640px;
  margin: 0 auto;
}

hr {
  background-color: #ccc;
  border: none;
  margin: 2em 0;
  height: 4px;
}

a {
  color: black;
  text-decoration: underline;
}

h2,
h3,
h4 {
  max-width: 640px;
  margin: 0 auto;
  font-weight: 600;
}

h3 {
  font-size: calc(16px + 1vmin);
}

h4 {
  margin: 0 auto 0.5em;
}

.simpleText {
  max-width: 640px;
  margin: 1em auto 2em;
}
.simpleText svg {
  vertical-align: text-bottom;
}
.columnContainer {
  position: relative;
}
.columnLeft {
  float: left;
  width: 100%;
}
.columnRight {
  float: left;
  width: 100%;
  margin-bottom: 4vmin;
}
@media screen and (min-width: 80em) {
  .columnLeft {
    width: 50%;
  }
  .columnRight {
    width: 50%;
  }
}

#bonusBox {
  max-width: 640px;
  margin: 0 auto;
}
.questionBox {
  max-width: 640px;
  min-height: 5.5em;
  margin: 1em auto;
}
.description {
  margin: 1.5em auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.descText,
.descTextMono {
  flex-grow: 1;
  max-width: 640px;
}
.descText {
  width: calc(100% - 30vmin);
}
.descText p {
  margin: 0 0 1em;
}
.descTextMono {
  align-self: center;
}
.descTextMono p {
  margin: 0;
}
.descImg {
  line-height: 0;
}
.descImg img {
  width: 15vmin;
  height: 15vmin;
}
.axisConstructivism {
  background-color: #a425b6;
  text-align: right;
}
.axisEssentialism {
  background-color: #34b634;
  text-align: left;
}
.axisInternationalism {
  background-color: #3e6ffd;
  text-align: right;
}
.axisNationalism {
  background-color: #ff8500;
  text-align: left;
}
.axisCommunism {
  background-color: #cc0000;
  text-align: right;
}
.axisCapitalism {
  background-color: #ffb800;
  text-align: left;
}
.axisProgressism {
  background-color: #850083;
  text-align: right;
}
.axisConservatism {
  background-color: #970000;
  text-align: left;
}
.axisEcology {
  background-color: #a0e90d;
  text-align: right;
}
.axisProductivism {
  background-color: #4deae9;
  text-align: left;
}
.axisLiberal {
  background-color: #14bee1;
  text-align: right;
}
.axisAuthoritarism {
  background-color: #e6cc27;
  text-align: left;
}
.axisRegulation {
  background-color: #269b32;
  text-align: right;
}
.axisLaissez {
  background-color: #6608c0;
  text-align: left;
}
.axisRevo {
  background-color: #eb1a66;
  text-align: right;
}
.axisRefo {
  background-color: #0ee4c8;
  text-align: left;
}

.navButtons {
  margin: 0 auto 1em;
  text-align: center;
  max-width: 400px;
}
button,
.button {
  text-align: center;
  margin: 0.5em 0;
  padding: 0.5em 1.5em;
  display: inline-block;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
  background-color: #500076;
  color: white;
  cursor: pointer;
}
button.strong-agree {
  background-color: #1b5e20;
}
button.agree {
  background-color: #4caf50;
}
button.neutral {
  background-color: #bbbbbb;
}
button.disagree {
  background-color: #f44336;
}
button.strong-disagree {
  background-color: #b71c1c;
}

.questionButtons button {
  color: white;
  width: 100%;
  padding: 0.5em 0;
}
.button:hover {
  background-color: white;
  color: #500076;
}
.button svg {
  fill: white;
  vertical-align: text-bottom;
}
.button:hover svg {
  fill: #500076;
}
.buttonLinkGood {
  background-color: #0eb31a;
  color: white;
}
.buttonLinkGood:hover {
  background-color: #0eb31a;
  color: white;
}
.buttonLinkGood svg,
.buttonLinkGood:hover svg {
  fill: white;
}
.urlToCopyContainer {
  width: 100%;
  text-align: center;
}
.urlToCopy {
  max-width: 400px;
  background-color: white;
  display: inline-block;
  padding: 0.5em;
  margin: 1em 0 0;
  z-index: 6;
  border-radius: 3px;
  word-break: break-all;
}

.flagDecoration {
  text-align: center;
}
.flagDecoration canvas {
  box-shadow: 0 1px 1px 1px #aaa;
  max-width: 70vmin;
}
.generatedResultsDecorations {
  text-align: center;
}
.generatedResultsDecorations canvas {
  box-shadow: 0 1px 1px 1px #aaa;
  max-width: 800px;
  width: 100%;
}
#slogan {
  margin: 1em 0;
  font-size: calc(14px + 2vw);
}

.scale {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}
.scale .left,
.scale .right {
  width: 15vmin;
  height: 15vmin;
  position: relative;
}
.scale .left img,
.scale .right img {
  position: absolute;
  top: 0;
  width: 15vmin;
  z-index: 2;
}
.scale .left img {
  left: 2vmin;
}
.scale .right img {
  right: 2vmin;
}
.scale .axis {
  flex-grow: 1;
}
.scale .axis .label {
  display: flex;
  font-size: 2.5vmin;
  height: 5vmin;
  align-items: center;
}
.scale .axis .label .left-label,
.scale .axis .label .right-label {
  width: 50%;
  margin: 0 0.5em;
}
.scale .axis .label .right-label {
  text-align: right;
}
.scale .axis .axis-bar {
  display: flex;
  box-shadow: 0vmin 1px 0.4vmin #aaa;
  height: 5vmin;
  background-color: #f3f3f3;
  color: #888;
}
.scale .axis .axis-bar .axis-left,
.scale .axis .axis-bar .axis-center,
.scale .axis .axis-bar .axis-right {
  font-size: 3.2vmin;
  line-height: 5vmin;
}
.scale .axis .axis-bar .axis-left span,
.scale .axis .axis-bar .axis-right span {
  padding: 0 1.1vmin;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.scale .axis .axis-bar .axis-left {
  text-align: right;
}
.scale .axis .axis-bar .axis-center {
  text-align: center;
  flex-grow: 1;
}

[data-i18n] {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
